/* FONT-SIZES (PX): 12 16 20 25 31 39 49 61 76 95 */

/* - FONT-WEIGHTS:
DEFAULT: 400
MEDIUM: 500
BOLD: 700 */

.container {
  background-color: #111;
}

.weeks-container {
  flex-direction: column;
}

.weeks-list {
  gap: 3.2rem;
}

.week-item:link,
.week-item:visited {
  letter-spacing: 1.2px;
  text-transform: none;
}

.week-item:hover {
  background-color: #444;
  transform: translate(0, -5px);
}

.week-item:active {
  background-color: #666;
}
