/* 
MUSCULAR GROUP COLOR GUIDELINE:

- CHEST #fa5252
- BACK ##ff6b6b
- SHOULDERS #fab005
- TRAPEZIUS ##fcc419
- CALVES #22b8cf
- TRICEPS #845ef7
- ABDOMINALS #51cf66
- QUADRICEPS #3bc9db
- GLUTES #339af0
- HARMSTRINGS ##4dabf7
- BICEPS #9775fa
*/

.container {
  background-color: #111;
  flex-direction: column;
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
